---
import { Contacts, Tags, WorkPlaces } from "../components";
import { SideBar } from "../components/SideBar";
import Layout from "../layouts/Layout.astro";
import { Avatar, Heading } from "../ui";
import { proffessionalTools, industryKnowledge } from "../utils";
import { contacts } from "../components/Contacts/Contacts.data";
import { workPlaces } from "../utils";
import { Achievements } from "../components/Achievements";
const avatarSrc =
  "https://sun9-86.userapi.com/impg/fqQ54TsGMi39bU0aW_LDMtXoyNe_z15WoF3nag/uQ7_ALjbwSg.jpg?size=1442x1920&quality=96&sign=dbf525a656463b266cc7e271ebab4f6a&type=album";
---

<Layout title="Welcome to Astro.">
  <SideBar className={"w-[355px]  rounded-tr-[16px]"}>
    <Avatar avatarSrc={avatarSrc} className="self-center" />
    <Heading title="Андрей Зайцев" subtitle="26 лет, Front-End Developer" />
    <Contacts contacts={contacts} />
    <Tags tags={proffessionalTools} typeWriterText="<Инструменты />" />
    <Tags tags={industryKnowledge} typeWriterText="<Знания />" />
  </SideBar>
  <main
    class="flex items-start justify-start h-[100vh] flex-col pl-10 pr-10 mt-[50px]"
  >
    <section>
      <h2 class="font-medium text-3xl mb-4">Опыт работы</h2>
      <WorkPlaces workPlaces={workPlaces} />
    </section>
  </main>
  <SideBar className={"w-[250px]  rounded-tl-[16px]"}><Achievements /></SideBar>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
